.page-header[filter-color="purple"] {
  background: rgba(44, 44, 44, 0.2);
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(90deg, rgba(44, 44, 44, 0.2), rgba(224, 23, 3, 0.6));
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(90deg, rgba(44, 44, 44, 0.2), rgba(224, 23, 3, 0.6));
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(90deg, rgba(44, 44, 44, 0.2), rgba(224, 23, 3, 0.6));
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(0deg, rgba(44, 44, 44, 0.2), rgba(224, 23, 3, 0.6));
  /* Standard syntax */ }

#main-logo {
  margin-top: 6em;
  margin-bottom: -2em;
  width: 40em;
  height: auto;
}

#main-data {
    font-size: 1.4em;
    margin-bottom: 1em;
}

@media(max-width: 500px){
    #main-data {
        font-size: 1em;
    }
}

p.category {
  text-align: center;
}

img.rounded{
  width: 200px;
  height: 200px;
  margin-left: 10%;
}

div.container h2 {
    text-align: center;
}

#palestrantes .row .col-sm-3{
    margin: auto;
}

#conheca {
    margin-bottom: -5%;
}

#inscrsubs h2 {
    /*margin-top: -10%;*/
    margin-bottom: 5%;
}

#conheca iframe{
    margin-left: auto;
    margin-right: auto;
}

#btn-edital {
    margin-bottom: 2%;
}

#btn-edital a {
    padding-left: 10%;
}

#modalSubmissaoLabel {
    margin: auto;
}

#tutobtn {
    margin-bottom: 0px;
    margin-top: -20px;
}

#progcard {
    padding: 4%;
}

@media(max-width: 490px){
    #progcard {
        padding: 7%;
    }
}

.prog {
    padding: 4%;
}

.progdata {
    margin-bottom: 5%;
}

.progdata h6 {
    margin: auto;
}

.card-signup {
    max-width: 400px;
}

@media(max-width: 991px){
    .card-signup {
        margin-bottom: 1em;
}
    .section-signup {
        padding-top: none;
    }
}

.textarea-container {
    margin-bottom: 2%;
}

#progaviso {
    text-align: center;
}

#ast {
    color: red;
    font-weight: bold;
}
